<main>
    <section>
        <div class="content">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="head">
                    <div class="row">
                        <div class="col-f">
                            <h1>Inscripcion</h1>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-f">
                            <label for>Contraseña</label>
                            <input type="password" formControlName="password" name="password" placeholder="Contraseña" required>
                            <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="error">
                                <p *ngIf="form.get('password')?.errors?.['required']">La contraseña es obligatoria</p>
                                <details *ngIf="form.get('password')?.errors?.['pattern']">
                                    <summary>Formato incorrecto</summary>
                                    <p>La contraseña debe tener al menos:</p>
                                    <ul>
                                        <li>8 caracteres</li>
                                        <li>Una mayúscula</li>
                                        <li>Una minúscula</li>
                                        <li>Un número</li>
                                    </ul>
                                </details>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-f">
                            <label for>Confirmar contraseña</label>
                            <input type="password" formControlName="rePassword" placeholder="Confirmar contraseña" required>
                            <div class="error">
                                <p *ngIf="form.get('rePassword')?.touched && form.get('rePassword')?.errors?.['required']">La contraseña es obligatoria</p>
                                <p *ngIf="!form.get('rePassword')?.errors?.['required'] && form.errors?.['passwordsMismatch']">Las contraseñas no coinciden</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <div *ngIf="responseError !== null" class="row">
                        <div class="col-f error">
                            <p>{{ responseError }}</p>
                        </div>
                    </div>
                    <div *ngIf="responseSuccess === true" class="row">
                        <div class="col-f success">
                            <p>La contraseña ha sido cambiada. <a routerLink="/login" [queryParams]=" {refer: '/'}">¡Accede!</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-m">
                            <button type="button" (click)="cancel()">Cancelar</button>
                        </div>
                        <div class="col-m">
                            <button type="submit" [disabled]="loading">{{ loading ? 'Reestableciendo...' : 'Reestablecer' }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>