section {
	width: 100%;
}
section .content {
	width: calc(var(--max-width) - 16px * 2);
	max-width: calc(100% - 16px * 2);
	margin: auto;
	padding: 16px;
}
section .content > div {
	display: flex;
	padding: 32px;
	gap: 32px;
}
section .content > div .item {
	background-color: green;
	border-radius: 16px;
	width: 100%;
	aspect-ratio: 16/10;
}