section {
	width: 100%;
}
section .content {
	width: calc(var(--max-width) - 16px * 2);
	max-width: calc(100% - 16px * 2);
	margin: auto;
	padding: 16px;
}
section .content > div {
	display: flex;
	padding: 32px;
	gap: 32px;
}
section .content > div.left {
	flex-direction: row;
}
section .content > div.right {
	flex-direction: row-reverse;
}
section .content > div img {
	background-color: green;
	border-radius: 16px;
	width: calc((100% - 16px) / 5 * 2);
	height: fit-content;
}
section .content > div .info {
	width: 100%;
	overflow: hidden;
	background-color: blue;
	border-radius: 16px;
}
section .content > div .info h3{
	padding: 16px 16px 8px 16px;
}
section .content > div .info p {
	padding: 0 16px 8px 16px;
    word-wrap: break-word;
}