main {
    margin: auto;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
}
section[name="filter"] {
    padding: 8px;
    margin: 8px;
    width: 192px;
    border-radius: 8px;
    background-color: var(--emphasis-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: sticky;
    top: 80px;
    height: fit-content;
}
section[name="filter"] input {
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px 8px;
    width: calc(100% - 8px * 2 - 1px * 2);
}
section[name="filter"] h3 {
    text-align: center;
}
section[name="filter"] .filter-row {
    border-radius: 8px;
    padding: 8px;
    background-color: white;
}
section[name="filter"] .filter-row:not(:last-child) {
    padding-top: 8px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
}
main section[name="results"] {
    width: calc(100% - (192px + 8px * 2 + 8px * 2) - 8px * 2);
}
main section[name="results"] .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin: 8px;
    margin-bottom: 16px;
    align-content: start;
}