footer {
    padding: 0;
    width: 100%;
    background-color: rgba(16, 16, 16);
}

footer > .content {
    width: calc(var(--max-width) - 16px * 2);
    max-width: calc(100% - 16px * 2);
    margin: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

footer * {
    color: rgb(255, 255, 255);
}

footer .panels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer .panels>div {
    width: calc(100% / 4 - 16px * 2);
    padding: 16px;
}

footer .panels>div>.title {
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 4px;
}

footer .panels>div>.content {
    display: flex;
    gap: 8px;
}

footer .panels .panel1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

footer .panels .panel1 img {
    width: 25%;
    margin: 0 auto;
    aspect-ratio: 1;
}

footer .panels .panel1 h2 {
    height: 24px;
    font-size: 24px;
    line-height: 24px;
}

footer .panels .panel2,
footer .panels .panel3 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

footer .panels .panel2 h3,
footer .panels .panel3 h3 {
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    display: block;
    margin-bottom: 4px;
}

footer .panels .panel2 a,
footer .panels .panel3 a {
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    display: block;
}

footer .panels .panel2 a:hover,
footer .panels .panel3 a:hover {
    color: rgb(128, 192, 255);
    padding-left: 8px;

}

footer .panel4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

footer .panel4 .icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

footer .panel4 .icons .icon {
    display: block;
    width: calc((100% - 8px * 3) / 4);
    aspect-ratio: 1;
}

footer .panel4 .icons .icon img {
    width: 100%;
    aspect-ratio: 1;
    filter: invert();
}

footer .panel4 .icons .icon img:hover {
    border-radius: 4px;
    filter: none;
    outline: 4px solid rgb(128, 192, 255);
    outline-offset: -2px;
    background-color: rgb(128, 192, 255);
}

footer .panel4 .contact-us {
    padding: 8px 16px;
    width: fit-content;
    border: 0;
    border-radius: 16px;
    color: white;
    background-color: rgb(128, 192, 255);
}

footer .panel4 .contact-us:hover {
    color: rgb(128, 192, 255);
    background-color: white;
}

#disclaimer {
    width: 100%;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    padding: 16px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.125);
}

@media (max-width: 512px) {
    footer .panels>div {
        width: calc(100% / 3 - 16px * 2);
    }
}

@media (max-width: 384px) {
    footer .panels>div {
        width: calc(100% / 2 - 16px * 2);
    }
}

@media (max-width: 256px) {
    footer .panels>div {
        width: calc(100% / 1 - 16px * 2);
    }
}