<footer>
    <div class="content">
        <div class="panels">
            <div class="panel1">
                <img src="/assets/media/icon-ligth.png">
                <h2>{{ config.appName }}</h2>
            </div>
            <div class="panel2">
                <h3>Menu</h3>
                @for (item of config.footer.group2; track item) {
                    @if (item.logged === null || item.logged === auth.isLoggedIn()) {
                        <p><a 
                            [routerLink]="item.link.route" 
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                        >{{ item.link.label }}</a></p>
                    }
                }
            </div>
            <div class="panel3">
                <h3>Soporte</h3>
                @for (item of config.footer.group3; track item) {
                    @if (item.logged === null || item.logged === auth.isLoggedIn()) {
                        <p><a 
                            [routerLink]="item.link.route"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                        >{{ item.link.label }}</a></p>
                    }
                }
            </div>
            <div class="panel4">
                <div class="icons">
                    @for (item of config.footer.group4; track item) {
                        <a 
                            class="icon" 
                            target="_blank" 
                            [href]="item.route" 
                            routerLinkActive="active"
                        >
                            <img 
                                [src]="item.icon" 
                                alt="item.label"
                            >
                        </a>
                    }
                </div>
                <button class="contact-us">Contactanos</button>
            </div>
        </div>
    </div>
    <p id="disclaimer">{{ config.disclaimer }}</p>
</footer>