<header>
    <div class="content">
        <div class="left">
            <img src="/assets/media/icon-dark.png" alt="">
            <h1>{{ config.appName }}</h1>
        </div>
        <div class="right">
            <img class="menu" src="/assets/media/icons/ui-menu.png" (click)="alternateNav()">
            <div class="nav" [class.active]="showNav">
                @for (item of config.header; track item) {
                    @if (item.logged === null || item.logged === auth.isLoggedIn()) {
                        <a 
                            [routerLink]="item.link.route"
                            [queryParams]="item.link.refer === true ? { refer: config.refer() } : null"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                        >
                            <img [src]="item.link.icon" alt="">
                            <span>{{ item.link.label }}</span>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</header>