<main>
    <section>
        <div class="content">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="head row">
                    <div class="col-f">
                        <h1>Recuperar contraseña</h1>
                    </div>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-f">
                            <label>Correo</label>
                            <input type="email" formControlName="email" placeholder="correo@electronico.com" required>
                            <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="error">
                                <p *ngIf="form.get('email')?.errors?.['required']">El correo es obligatorio</p>
                                <p *ngIf="form.get('email')?.errors?.['email']">Formato inválido</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <div *ngIf="responseError !== null" class="row">
                        <div class="col-f error">
                            <p>{{ responseError }}</p>
                        </div>
                    </div>
                    <div *ngIf="responseSuccess === true" class="row">
                        <div class="col-f success">
                            <p>Se ha enviado el correo de recuperacion</p>
                            <p>Porfavor, no olvide revisar la bandeja de spam</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-m">
                            <button type="reset" (click)="cancel()">Cancelar</button>
                        </div>
                        <div class="col-m">
                            <button type="submit" [disabled]="loading">{{ isPreviousSend ? (loading ? 'Reenviando...': 'Reenviar'): (loading ? 'Enviando...' : 'Enviar') }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>